.about {
    transition: all 0.6s ease;
    margin: 20px auto;
    padding: 10px 0;
    /* box-shadow: 0 0 2px rgba(255, 255, 255, 0.99), 0 0 5px rgba(255, 255, 255, 1),
        0 0 5px rgb(108, 94, 207), 0 0 5px rgb(108, 94, 207), 0 0 10px rgb(108, 94, 207),
        0 0 20px rgb(108, 94, 207); */
    box-shadow: 0 10px 28px rgba(0, 0, 0, 0.3), 0 10px 12px rgba(0, 0, 0, 0.22);
}
.App.dark p span {
    font-weight: 500;
    color: rgb(120, 108, 214);
}
.about p span {
    font-weight: 500;
    color: rgb(72, 62, 148);
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 89%;
    margin: auto;
    text-align: center;
    padding: 0px 0;
    margin: 40px auto;
}
.App.dark .about {
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.99), 0 0 5px rgba(255, 255, 255, 1),
        0 0 5px rgb(108, 94, 207), 0 0 5px rgb(108, 94, 207), 0 0 10px rgb(108, 94, 207),
        0 0 20px rgb(108, 94, 207);
}
.App.dark .about h1 {
    color: rgb(108, 94, 207);
}
.about h4 {
    font-size: 1.3rem;
}
.about p {
    /* font-weight: 500; */
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.App.dark .about h4 {
    font-size: 2rem;
    color: rgb(108, 94, 207);
}

.App.dark .about p {
    color: rgb(225, 225, 225);
    /* font-weight: 500; */
    font-size: 1.25rem;
}

.links {
    background-color: rgb(255, 255, 255);
    margin: 0.8rem auto;
    padding: 0.6rem 1rem;
    border-radius: 20px;
    width: fit-content;
    box-shadow: 0 10px 28px rgba(0, 0, 0, 0.3), 0 10px 12px rgba(0, 0, 0, 0.22);
}

.links a {
    margin: 0.2rem 1rem;
    cursor: pointer;
}

.links i {
    font-size: 2.3rem;
    color: var(--color-sec-p);
}

.links .fa-envelope {
    color: #0087e0;
}
.links .fa-envelope:hover {
    opacity: 0.8;
}

.links .fa-github {
    color: #000000;
}
.links .fa-github:hover {
    color: #3a3a3a;
}

/* ============================== */

@media (max-width: 1000px) {
    .about-content {
        width: 85%;
        margin: auto;
        text-align: center;
        padding: 10px 0;
    }
    .about-content h1 {
        font-size: 3rem;
    }
    .about-content p {
        font-size: 1.1rem;
    }

    .about-content .links {
        margin: 1.4rem auto;
        padding: 0.4rem 1.4em;
    }
    .about-content .links a {
        margin: 0.2rem 1rem;
    }

    .about-content .links i {
        font-size: 2.3rem;
        color: var(--color-sec-p);
    }
}

@media (max-width: 680px) {
    .about-content {
        width: 90%;
        margin: auto;
        text-align: center;
    }
    .about-content h1 {
        font-size: 2.2rem;
    }
    .about-content p {
        font-size: 1rem;
    }

    .about-content .links {
        margin: 1.2rem auto;
        padding: 0.5rem 1.3em;
    }
    .about-content .links a {
        margin: 0.2rem 1rem;
    }

    .about-content .links i {
        font-size: 2rem;
        color: var(--color-sec-p);
    }
}

@media (max-width: 680px) {
    .about-content {
        width: 96%;
    }
    .about-content p {
        /* text-align: left; */
        font-size: 0.9rem;
    }
}
