.navbar {
    background-color: rgb(255, 255, 255);
    width: 100%;
    /* padding-top: 10px; */
    font-family: 'Poppins', sans-serif;
    transition: 0.5s all ease-in-out;
    padding: 16px 0 16px;
    /* display: none; */
    box-shadow: 0 10px 28px rgba(0, 0, 0, 0.3), 0 10px 12px rgba(0, 0, 0, 0.22);
}
.App.dark .navbar {
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.99), 0 0 5px rgba(255, 255, 255, 1),
        0 0 5px rgb(108, 94, 207), 0 0 5px rgb(108, 94, 207), 0 0 10px rgb(108, 94, 207),
        0 0 20px rgb(108, 94, 207);
}

.navbar.dark {
    background-color: #3d328a;
    background-color: rgb(108, 94, 207);
    /* box-shadow: 0 8px 15px rgba(86, 19, 128, 0.63), 0 6px 6px rgba(180, 197, 228, 0.53); */
    color: rgb(255, 255, 255);
    /* z-index: 2; */
}

.navbar.dark a {
    color: rgb(255, 255, 255);
    /* z-index: 2; */
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.navbar .container .nav-links {
    display: flex;
    align-items: end;

    justify-content: space-between;
}

.navbar .nav-logo h1 {
    margin-bottom: 0;
}
.navbar .nav-logo h1 {
    font-size: 1.8rem;
}

.navbar .nav-link {
    font-size: 1.25rem;
    font-weight: 400;
    margin-left: 40px;
}
.navbar .nav-link:hover {
    opacity: 0.75;
}

.mode {
    margin-left: 40px;
    position: relative;
    border-radius: 90px;
    border: black solid 2.5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    overflow: hidden;
}
.mode img {
    width: 80%;
}
.navbar.dark .mode {
    color: rgb(255, 255, 255);
    border: white solid 2.5px;
    background-color: rgba(255, 255, 255, 0.2);
    /* z-index: 2; */
}
.navbar.dark .mode .dark-mode {
    color: rgb(255, 255, 255);
    filter: invert(100%);
    /* border: white solid 2.5px; */
    /* background-color: rgba(255, 255, 255, 0.413); */
    /* z-index: 2; */
}
.mode .icon {
    position: absolute;
}

.mode .light-mode {
    top: 50%;
    left: 50%;
    transform: rotate(0deg) translate(-50%, -50%);
    transform-origin: 0px 250%;
    transition: all 0.7s ease-in-out;
}
.mode .dark-mode {
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    transform: rotate(55deg) translate(-50%, -50%);
    transform-origin: 0px 250%;
    transition: all 0.7s ease-in-out;
}

.mode .light-mode.move {
    transform: rotate(-55deg) translate(-50%, -50%);
    transform-origin: 0px 250%;
}
.mode .dark-mode.move {
    top: 50%;
    left: 50%;
    transform: rotate(0deg) translate(-50%, -50%);
    transform-origin: 0px 250%;
}

/* ===================== */

@media (max-width: 900px) {
    .navbar .nav-logo h1 {
        font-size: 1.8rem;
    }

    .navbar .nav-link {
        font-size: 1.1rem;
        margin-left: 30px;
    }
    .mode {
        margin-left: 30px;
        width: 30px;
        height: 30px;
    }
    .mode img {
        width: 80%;
    }
}

@media (max-width: 600px) {
    .navbar .nav-logo h1 {
        font-size: 1.2rem;
    }

    .navbar .nav-link {
        font-size: 0.9rem;
        margin-left: 20px;
    }
    .mode {
        margin-left: 20px;
    }
}

@media (max-width: 480px) {
    .navbar .nav-logo h1 {
        font-size: 1.1rem;
    }

    .navbar .nav-link {
        font-size: 0.85rem;
        margin-left: 12px;
    }
    .mode {
        margin-left: 12px;
    }
}

@media (max-width: 375px) {
    .nav-link {
        display: none;
    }
}
